* {
    margin: 0px;
    padding: 0px;
    position: relative;
}
/*background section start*/
body {
    background-image: url(./Image/background.png);
    background-size:cover;
    position: relative;
}
body::before {
    position: absolute;
    content: "";
    background: white;
    width: 100%;
    height: 100px;
    top: -70px;
    opacity: 0.6;
}
/*background section end*/

/*form section start*/
form {
    position: relative;
    width: 425px;
    height: 520px;
    margin-left: 35%;
    margin-top: 5%;
    box-shadow: 0px 5px 8px 3px #aaa;
    background: white;
    z-index: 10;
    position: relative;
}
/*1st tittle and sub-stile start*/
.first_title{
    font-size: large;
    padding: 10px 10px 0px 10px;
}

hr {
    margin-top: 10px;
    opacity: 20%;
}

#sub_title{
    color: #07244a;
    margin-left: 10px;
}
/*1st tittle and sub-stile end*/

/*input section start*/
#all {
    width: 180px;
    border-radius: 5px;
    background: #e6e6e6;
    height: 35px;
    border: 1px solid #aaa;
    font-size: 15px;
    margin-left: 12px;
    margin-top: 10px;
    padding-left: 10px;
}
#all1{
    width: 388px;
    background: #e6e6e6;
    height: 35px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 12px;
    margin-top: 10px;
    padding-left: 10px;
}
/*input section end*/

/*date of birth section strat*/

.sub_tittle_2 {
    margin-top: 10px;
    font-size: 12px;
}

select {
    width: 125px;
    margin-left: 10px;
    margin-top: 10px;
    height: 35px;
    font-size: 15px;
    background: none;
    border: 1px solid #aaa;
    border-radius: 7px;
}
/*date of birth section end*/

/*gender section start*/
.sub_tittle_3 {
    margin-top: 10px;
    font-size: 12px;
}
#all_gender{
    width: 110px;
    height: 25px;
    border: 1px solid #aaa;
    padding: 10px 0px 0px 10px;
    border-radius: 5px;
}
.female {
    margin-top: 5px;
    margin-left: 10px;
}
.male {
    margin-top: -38px;
    margin-left: 151px;
}
.other {
    margin-top: -37px;
    margin-left: 287px;
}
/*gender section end*/
/*last section start*/
.sub_tittle_4{
    margin-left: 10px;
    font-size: 10px;
    color: #606770;
    margin-top: 10px;
}
.sub_tittle_4 a {
    text-decoration: none;
    color: blue;
}
.sub_tittle_5 {
    margin-top: 10px;
    font-size: 10px;
    color: antiquewhite;
}
.submit {
    width:200px ;
    height: 40px;
    background: #0ebd02;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    margin-left: 25%;
    margin-top: 20px;
}
#sub_tittle{
    color: rgb(68, 62, 62);
    margin-left:10px;
    font-size: 14px;
}
.submit:hover{
    opacity: 60%;
}


/*last section end*/
/*form section end*/


@media screen and (max-width:600) {
   body{
    background: white;
    align-items: 50%;
    justify-content: 50%;
   }
    
}
#retour{
    margin-left: 120px;
    text-decoration: none;
    

}



